$headingSizes: (
  "extension": 70px,
  "h1": 50px,
  "h2": 40px,
  "h3": 30px,
  "h4": 25px,
  "h5": 22px,
  "h6": 18px,
  "sub1": 18px,
  "sub2": 16px,
  "sub3": 16px,
);

$textSizes: (
  "body": 14px,
  "note1": 13px,
  "note2": 13px,
  "label": 14px,
  "slide": 16px,
  "quote": 20px,
);

$fontWeights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);
