.btn-dark,
.btn-primary,
.btn-secondary,
.btn-accent,
.btn-gray,
.btn-light {

  @include btn;
  margin-top:10px;
}

.btn-menu {
  @include btn-circle;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
