.project-details {
    display: flex;

    .page-content {
        flex-grow: 1;
        padding-right: 52px;

        @include desktop {
            border-right: 1px solid var(--color-border-gray);
        }
    }
    .tag-wrapper{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 60px;

        .slide{
            margin: 0;
            font-weight: 500;
        }
        
        .tag{
            padding: 5px 10px;
            display: inline;
            border-radius:15px ;
        }
    }
}
