.service-details {
    display: flex;

    .aside {
        display: none;
        @include desktop{
            display: flex;
            flex-direction:column;
            gap: 20px;
            flex: 0 0 350px;
            padding-right: 52px;
            border-right: 1px solid var(--color-border-gray);

            .bg-primary {
                padding: 20px;
                margin-top: 45px;

                .body {
                    color: var(--color-light);
                }
            }

        }
    }

    .page-content {
        padding-left: 52px;
        img {
            width: 100%;
            height: auto;
        }

        ul {
            margin: 0;
            padding: 0px;
            list-style-type: none;
            li {
                position: relative;
                padding-left: 20px;
            }
            li::before {
                content: "";
                position: absolute;
                left: 0; 
                top: 5px; 
                width: 8px; 
                height: 8px;
                background-color: var(--color-secondary); 
                border-radius: 50%;
            }
        }
    }
}
