@import "_media.scss";

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

.spacing-top{
    padding-top: 100px;
}

.spacing-bottom{
    padding-bottom: 100px;
}

.center{
    justify-content: center;
    align-items: center;
}

.centerText{
    text-align: center;
}

.transparent-bg{
    background-color: #ffffff;
}


.umb-block-grid__layout-item[data-content-element-type-alias="imgPositioned"] {
    @include desktop {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
    }

    .img-positioned {
        height: 100%;
        width: 100%;
        object-fit: cover;

        @include desktop {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
