@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;

@{
  var rootContents = UmbracoHelper.ContentAtRoot();
  var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
  var siteName = settings?.Value<string>("siteName") ?? "";
}      

<footer class="footer-section bg-dark">
  <div class="content container">
    <p class="body">© @DateTime.Now.Year @siteName All Rights Reserved. Credits to <span>Themesflat</span></p>
  </div>
</footer>