@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
  var rootContents = UmbracoHelper.ContentAtRoot();
  var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
  var siteName = settings?.Value<string>("siteName") ?? "";
  var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";
  var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}

<header class="header-section container">
    <a href="/" ><img src="@siteLogotype" alt="@siteName logo" /></a>
    <nav class="link-wrapper">
        @if (selection?.Length > 0)
        {
            @foreach (var item in selection)
            {
                <a href="@item.Url(PublishedUrlProvider)" class="link @(item.IsAncestorOrSelf(Model) ? "current" : null)">@item.Name</a>
            }
        }
    </nav>
    <i class="fa-solid fa-magnifying-glass"></i>
    <button class="btn-menu"><i class="fa-regular fa-bars"></i></button>
</header>



