@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
    bool.TryParse(ViewData["error_email_small"]?.ToString( )!, out bool error_email_small);
}

<div class="help-form-small bg-primary">
    @using (Html.BeginUmbracoForm("HandleSubmitHelpSmall", "ContactSurface", FormMethod.Post))
    {
        <h5 class="h5">How can we help you?</h5>
        <p class="body">online support 24/7, we are here to help you</p>
        <div class="input-wrapper">
            <input id="email" name="email" type="email" placeholder="Email address" class="" value="@ViewData["email"]">
            <span class="form-input-error @((error_email_small) ? "form-invalid-input" : null)">Enter your email</span>
            <button class="send-btn" type="submit"><i class="fa-regular fa-envelope"></i></button>
        </div>

        @if (TempData["successSmall"] != null)
        {
            <div class="success-message">@TempData["successSmall"]</div>
        }
        @if (TempData["errorSmall"] != null)
        {
            <div class="error-message">@TempData["errorSmall"]</div>
        }
    }
</div>