@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.PublishedCache
@inject ITagQuery _tagQuery;
@{
    var allTags = _tagQuery.GetAllContentTags("projectTags");
}
 
@if (allTags.Any())
{
    <div class="aside-tag-wrapper">

    <h5 class="h5">Tags</h5>
    <ul class="tag-container">
        @foreach (var tag in allTags)
        {
            <li class="tag-item">@tag?.Text</li>
        }
    </ul>
    </div>
}




  
