@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@{
  var rootContents = UmbracoHelper.ContentAtRoot();
  var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
  var officeLocation = settings?.Value<string>("officeLocation") ?? "";
  var facebookUrl = settings?.Value<string>("facebookUrl") ?? "";
  var twitterUrl = settings?.Value<string>("twitterUrl") ?? "";
  var linkedinUrl = settings?.Value<string>("linkedinUrl") ?? "";
}

<section class="topbar-section bg-primary">
  <div class="content container">
    <p class="note1 address">@officeLocation</p>
    @await Html.PartialAsync("socialmedia.cshtml")     
  </div>
</section>