@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var buttonLinkText = Model?.Content.Value<string>("buttonLinkText");
    var buttonLinkUrl = Model?.Content.Value<string>("buttonLinkUrl");
    var buttonLinkColor = Model?.Content?.Value<ColorPickerValueConverter.PickedColor>("buttonLinkColor")?.Label.ToLower() ?? null;
    var buttonLinkColorClass = (!string.IsNullOrEmpty(buttonLinkColor)) ? $"btn-{buttonLinkColor}" : "";
    var shouldCenter = Model?.Content.Value<bool>("centerButton");
}

<a href="@buttonLinkUrl" class="btn @buttonLinkColorClass" data-should-center="@shouldCenter">@buttonLinkText</a>



