@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var textContent = Model?.Content.Value<string>("textContent");
    var centerTextClass = (Model.Content.Value<bool>("centerText")) ? "centerText" : "";
}

@if(!string.IsNullOrEmpty(textContent)){
    <p class="label @centerTextClass">@textContent</p>
}