@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var subtitleContent = Model?.Content.Value<string>("subtitleContent");
}

@if(!string.IsNullOrEmpty(subtitleContent)){
    <h6 class="subtitle2">@subtitleContent</h6>
}