.help-form-small {
    margin-top: 45px;

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .h5 {
            color: var(--color-accent) !important;
        }

        .body {
            color: var(--color-light);
        }

        .input-wrapper {
            position: relative;

            input {
                width: 100%;
                padding: 16px;
                border-radius: 3px;
                border: none;

                &::placeholder {
                    font-style: italic;
                    font-family: "Poppins", sans-serif;
                }
            }

            .send-btn {
                position: absolute;
                top: 4px;
                right: 2px;
                color: var(--color-primary);
                background-color: transparent;
                border: none;
                padding: 8px;
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .form-input-error {
                display: none;
            }

            .form-invalid-input {
                display: block;
                color: red;
            }
        }
    }
}
