.image-slider {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Anpassa för desktop-storlekar */
    }

}
