.topbar-section {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            justify-content: space-between;
        }

        .address {
            display: none;

            @include tablet {
                display: inline;
            }
        }


    }
}
