.topbar-section {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      justify-content: space-between;
    }
    .address {
      display: none;
      @include tablet {
        display: inline;
      }
    }
    .social-media-wrapper {
      display: flex;
      @include tablet {
        .social-media:nth-child(odd) {
          border-left: 1px solid;
          border-right: 1px solid;
        }
      }
      .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49px;
        padding: 18px 0;
        .fa-brands {
          font-size: 13px;
        }
      }
    }
  }
}
